@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: hsl(28, 38%, 92%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    width: 345px;
    height: 600px;
    
    background-color: var(--white);
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    border-radius: 20px;

    overflow: hidden;
}

.prices {
    display: flex;
    flex-direction: raw;
    justify-content: flex-start;
    align-items: center;

    margin-top: 24px;
}

p, h1, button {
    margin-left: 25px;
    margin-right: 25px;
}

p {
    font-size: 14px;
    line-height: 23px;
}

h1 {
    font-family: 'Fraunces', serif;
    line-height: 31px;
}

.prices h1 {
    margin-right: 0;
    color: var(--dark-cyan)
}

.perfume {
    color: var(--dark-grayish-blue);
    font-size: 14px;
    letter-spacing: 3.4px;
    margin-top: 20px;
}

.line-through {
    color: var(--dark-grayish-blue);

    font-size: 13px;
    transform: scaleY(1.01);
    text-decoration: line-through;
    line-height: auto;

    margin-left: 19px;
}

.parfum-name {
    color: var(--very-dark-blue);
    margin-top: 10px;
}

.parfum-description {
    color: var(--dark-grayish-blue);
    margin-top: 17px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.img-mobile {
    display: block;
}

.img-desktop {
    display: none;
}

button {
    font-weight: 700;

    background-color: var(--dark-cyan);
    color: var(--white);

    margin-right: 24px;
    margin-top: 20px;
    padding: 13px 94px;

    border-radius: 8px;

    margin-bottom: 11px;
}

button img {
    margin-right: 12px;
    margin-top: 2px;
}

button p {
    margin-bottom: 7px;
}

button:hover {
    background-color: hsl(156, 42%, 18%);
    cursor: pointer;
}

@media (min-width: 375.01px) {
    .card {
        width: 600px;
        height: 450px;

        border-radius: 8px;

        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .img-mobile {
        display: none;
    }
    
    .img-desktop {
        display: block;
    }

    p, h1, button {
        margin-left: 32px;
        margin-right: 32px;
    }

    .perfume {
        margin-top: 30px;
    }
    
    .parfum-name {
        margin-top: 17px;
    }

    .parfum-description {
        margin-top: 26px;
    }

    .prices {
        margin-top: 29px;
    }

    button {
        padding: 13px 64px;
        margin-top: 30px;
    }
  }
  